* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  background: #014E56;
  width: 100%;
  height: 625px;
  padding-top: 73px;
}

.header__ul {
  display: flex;
  margin-left: -200px;
}

li {
  list-style-type: none;
  margin: 20px;
}

.header__li:nth-child(1) {
  color: #ffffff;
}

.container__header {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
}

.header__btn {
  background-color: #014E56;
  color: #ffffff;
  border-radius: 24px;
  width: 150px;
  height: 50px;
  border: 1px solid #ffffff;
  align-items: center;
  text-align: center;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.header__btn:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 24px;
  width: 150px;
  height: 50px;
  border: 1px solid #000000;
  align-items: center;
  text-align: center;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.main {
  margin: 170px;
}

.section__container2 {
  width: 500px;
  height: 200px;
  margin-left: 500px;
}

.section__zero {
  width: 50px;
  height: 5px;
  background-color: #79C8C7;
  margin-bottom: 50px;
  margin-top: -50px;
}

.section__h2 {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}

.logo__img {
  margin-left: 700px;
  margin-top: 12px;
}

.logo__img2 {
  position: absolute;
  margin-left: -180px;
  margin-top: -250px;
}

.main__info {
  background: #012F34;
  display: flex;
  align-items: center;
}

.info__li1 {
  display: flex;
  margin-left: 100px;
  margin-top: 140px;
}

.info__li2 {
  display: flex;
  margin-left: 100px;
}

.info__li3 {
  display: flex;
  margin-left: 100px;
}

.info__h4 {
  margin-bottom: 20px;
  color: #F67E7E;
}

.info__p {
  color: #ffffff;
}

.info__text {
  margin-left: 20px;
}

.container__info1 {
  margin-left: 150px;
  width: 250px;
  height: 200px;
  color: #ffffff;
}

.img__info {
  margin-left: 849px;
}

.img__men {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container__text {
  background: #004047;
  padding-top: 140px;
}

.text__h1 {
  width: 800px;
  text-align: center;
  margin-left: 300px;
}

.text__container_one {
  width: 400px;
  height: 300px;
  margin: 50px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.text__container {
  padding-top: 92px;
  display: flex;
  background: #004047;
}

.text__p2 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.text__logo_img1 {
  position: absolute;
  margin-top: -730px;
}

.container__text {
  width: 100%;
  height: 822px;
}

.text__logo_img2 {
  margin-top: -80px;
  margin-left: 1170px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.container__started {
  background: #F67E7E;
  width: 100%;
  height: 200px;
}

.container__started2 {
  padding-top: 80px;
  margin-left: 200px;
  display: flex;
}

.started__btn {
  background-color: #F67E7E;
  color: #000000;
  border-radius: 24px;
  width: 150px;
  height: 50px;
  border: 1px solid #000000;
  align-items: center;
  text-align: center;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  margin-left: 260px;
}

.started__btn:active {
  background-color: #F67E7E;
  color: #000000;
  border-radius: 24px;
  width: 150px;
  height: 50px;
  border: 1px solid #000000;
  align-items: center;
  text-align: center;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  margin-left: 260px;
}

.text__img {
  margin-top: -75px;
}

.started__btn:hover {
  background-color: #ffffff;
  color: #000000;
  border-radius: 24px;
  width: 150px;
  height: 50px;
  border: 1px solid #000000;
  align-items: center;
  text-align: center;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  margin-left: 260px;
}

.footer {
  padding-top: 50px;
  background: #013036;
  width: 100%;
  height: 200px;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
}

.container__footer {
  padding-left: 200px;
}

.footer__ul {
  display: flex;
}

.footer__li {
  color: #ffffff;
}

.container__footer2 {
  width: 300px;
  margin-left: 200px;
}

.footer__ul2 {
  display: flex;
  margin-top: -20px;
  margin-left: 100px;
}

.footer__p2 {
  width: 400px;
  margin-left: 300px;
  color: #ffffff;
}

.footer__p {
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .header {
    background: #014E56;
    width: 992px;
    height: 625px;
    padding-top: 73px;
  }
  .header__ul {
    display: flex;
    margin-left: -50px;
  }
  li {
    list-style-type: none;
    margin: 20px;
  }
  .header__li:nth-child(1) {
    color: #ffffff;
  }
  .container__header {
    width: 100%;
    height: 50px;
    justify-content: space-around;
  }
  .header__btn {
    background-color: #014E56;
    color: #ffffff;
    border-radius: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid #ffffff;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
  }
  .header__btn:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid #000000;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
  }
  .main {
    display: block;
    align-items: center;
    text-align: center;
  }
  .main__section {
    display: block;
  }
  .section__zero {
    display: none;
  }
  .logo__img2 {
    display: none;
  }
  .section__info1 {
    margin-left: -100px;
    margin-top: -200px;
  }
  .section__p {
    margin-left: -400px;
    width: 400px;
  }
  .section__h2 {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
  }
  .logo__img {
    margin-left: 100px;
    margin-top: -40px;
  }
  .logo__img2 {
    position: absolute;
    margin-left: -180px;
    margin-top: -250px;
  }
  .main__info {
    background: #012F34;
    width: 100%;
  }
  .info__li1 {
    margin-top: 140px;
  }
  .info__ul {
    margin-left: -700px;
    margin-top: 100px;
  }
  .info__li2 {
    margin-left: 100px;
  }
  .info__li3 {
    margin-left: 100px;
  }
  .info__h4 {
    margin-bottom: 20px;
    color: #F67E7E;
  }
  .info__p {
    color: #ffffff;
  }
  .container__info1 {
    margin-left: 400px;
    width: 500px;
    height: 200px;
    font-family: "Livvic";
    color: #ffffff;
    margin-top: -60px;
  }
  .info__text {
    margin-left: 20px;
  }
  .img__info {
    position: absolute;
    margin-top: -630px;
    margin-left: 420px;
  }
  .img__men {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .container__text {
    background: #004047;
  }
  .text__container_one {
    width: 400px;
    height: 300px;
    margin-left: 200px;
    margin-top: -50px;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  .text__container {
    padding-top: 92px;
    display: block;
    background: #004047;
    width: 100%;
  }
  .text__h1 {
    width: 800px;
    text-align: center;
    margin-left: 50px;
  }
  .text__p2 {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .text__logo_img1 {
    position: absolute;
    margin-top: -1232px;
  }
  .container__text {
    width: 100%;
    height: 1222px;
  }
  .text__logo_img2 {
    margin-top: -80px;
    margin-left: 1170px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .container__started {
    background: #F67E7E;
    width: 100%;
    height: 200px;
  }
  .container__started2 {
    padding-top: 80px;
    margin-left: 200px;
    display: flex;
  }
  .started__btn {
    background-color: #F67E7E;
    color: #000000;
    border-radius: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid #000000;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin-left: 260px;
  }
  .started__btn:active {
    background-color: #F67E7E;
    color: #000000;
    border-radius: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid #000000;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin-left: 260px;
  }
  .text__img {
    margin-top: -180px;
  }
  .started__btn:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid #000000;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin-left: 260px;
  }
  .footer {
    padding-top: 50px;
    background: #013036;
    width: 100%;
    height: 300px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
  }
  .container__footer {
    padding-left: 200px;
  }
  .footer__ul {
    margin-top: 50px;
    display: flex;
  }
  .footer__li {
    color: #ffffff;
  }
  .container__footer2 {
    width: 300px;
    margin-left: 200px;
  }
  .footer__ul2 {
    display: flex;
    margin-top: 200px;
    margin-left: -700px;
  }
  .footer__p2 {
    width: 400px;
    margin-left: 0px;
    margin-top: 150px;
    color: #ffffff;
  }
  .footer__p {
    margin-left: 70px;
    color: #ffffff;
  }
}
a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .header {
    background: #014E56;
    width: 768px;
    height: 625px;
    padding-top: 73px;
  }
  .header__ul {
    display: none;
    margin-left: -50px;
  }
  li {
    list-style-type: none;
    margin: 20px;
  }
  .header__li:nth-child(1) {
    color: #ffffff;
  }
  .container__header {
    width: 100%;
    height: 50px;
    justify-content: space-around;
  }
  .header__btn {
    background-color: #014E56;
    color: #ffffff;
    border-radius: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid #ffffff;
    align-items: center;
    text-align: center;
    display: none;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
  }
  .header__btn:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid #000000;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
  }
  .main {
    display: block;
    align-items: center;
    text-align: center;
  }
  .main__section {
    display: block;
  }
  .section__zero {
    display: none;
  }
  .logo__img2 {
    display: none;
  }
  .section__info1 {
    margin-left: -200px;
    margin-top: -200px;
  }
  .section__p {
    margin-left: -500px;
    width: 400px;
  }
  .section__h2 {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
  }
  .logo__img {
    margin-left: 0;
    margin-top: -40px;
  }
  .logo__img2 {
    position: absolute;
    margin-left: -180px;
    margin-top: -250px;
  }
  .main__info {
    background: #012F34;
    width: 100%;
    display: flex;
  }
  .info__logo__img {
    margin-top: -100px;
    margin-left: 200px;
    position: absolute;
  }
  .info__li1 {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .info__ul {
    margin-left: -700px;
    margin-top: 300px;
  }
  .info__h1 {
    margin-left: -200px;
    width: 200px;
  }
  .info__h4 {
    margin-bottom: 20px;
    color: #F67E7E;
  }
  .info__p {
    color: #ffffff;
  }
  .container__info1 {
    margin-left: 400px;
    width: 500px;
    height: 100px;
    font-family: "Livvic";
    color: #ffffff;
    margin-top: -300px;
  }
  .info__text {
    margin-left: 20px;
  }
  .img__info {
    position: absolute;
    margin-top: -630px;
    margin-left: 420px;
  }
  .img__men {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .container__text {
    background: #004047;
  }
  .text__container_one {
    width: 400px;
    height: 300px;
    margin-left: 200px;
    margin-top: -50px;
    align-items: center;
    text-align: center;
    color: #ffffff;
  }
  .text__container {
    padding-top: 92px;
    display: block;
    background: #004047;
    width: 100%;
  }
  .text__h1 {
    width: 800px;
    text-align: center;
    margin-left: -50px;
  }
  .text__p2 {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .text__logo_img1 {
    position: absolute;
    margin-top: -1232px;
  }
  .container__text {
    width: 100%;
    height: 1222px;
  }
  .text__logo_img2 {
    margin-top: -80px;
    margin-left: 1170px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
  }
  .container__started {
    background: #F67E7E;
    width: 100%;
    height: 300px;
  }
  .container__started2 {
    padding-top: 80px;
    margin-left: 200px;
    display: block;
  }
  .started__btn {
    background-color: #F67E7E;
    color: #000000;
    border-radius: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid #000000;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin-left: 100px;
    margin-top: 50px;
  }
  .started__btn:active {
    background-color: #F67E7E;
    color: #000000;
    border-radius: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid #000000;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
  }
  .text__img {
    margin-top: -50px;
  }
  .started__btn:hover {
    background-color: #ffffff;
    color: #000000;
    border-radius: 24px;
    width: 150px;
    height: 50px;
    border: 1px solid #000000;
    align-items: center;
    text-align: center;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
    margin-left: 100px;
    margin-top: 50px;
  }
  .footer {
    padding-top: 50px;
    background: #013036;
    width: 100%;
    height: 600px;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
  }
  .container__footer {
    padding-left: 200px;
  }
  .footer__ul {
    margin-top: 50px;
    display: flex;
  }
  .footer__li {
    color: #ffffff;
  }
  .container__footer2 {
    width: 300px;
    margin-left: -250px;
    margin-top: 200px;
  }
  .footer__ul2 {
    display: flex;
    margin-top: 350px;
    margin-left: -200px;
  }
  .footer__p2 {
    width: 400px;
    margin-left: 0px;
    margin-top: 150px;
    color: #ffffff;
  }
  .footer__p {
    margin-left: 70px;
    color: #ffffff;
  }
}/*# sourceMappingURL=style.css.map */